In [ ]:
#Task1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#Task2
a=(-10, 20, 25,30, 40)
z=a[2:-2]
print(z)

(25,)

In [ ]:
#Task3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is : {}".format(len(book_info)))
for i in book_info:
  print(i)

Size of the tuple is : 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for i in book_info:
  cat=i[0]
  mov=i[1]
  vot=i[2]
  print(f"{mov} won the '{cat}' category with {vot} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Task5
t=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
j=int(input())
count=0
for i in t:
  if j == i:
    count+=1
print("{} appears {} times in the tuple".format(j,count))

10
10 appears 3 times in the tuple

In [ ]:
#task6
given_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
l=[]
m=[]
for i in given_tuple:
  l.append(i)
for j in range(-1,-len(l)-1,-1):
  m.append(l[j])
print(tuple(m))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#Task7
dict_1 = {'A':90, 'B': 0}
dict_2 = {'C':50}
output_dict = {**dict_1, **dict_2}
print(output_dict)

{'A': 90, 'B': 0, 'C': 50}

In [ ]:
#task8
data = "Jon:100, Dan:200, Rob:30, Ned:110"
data=data.split(',')
dictionary = {}
sum=0
count=0
for d in data:
	dictionary[d.split(':')[0]] = int(d.split(':')[1])
for val in dictionary.values():
	sum += val
	count += 1
if count != 0:
	print('Average is', int(sum/count))
else:
	print('no data')

Average is 110

In [ ]:
#Task9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
mark=170
l={}
for k,v in exam_marks.items():
  if v>=mark:
    l[k]=v
print(l)

{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
books={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
name=""
max=0
for b in books:
  if books[b] > max:
    max=books[b]
    name=b
print(f"The highest selling book genre is '{name}' and the number of books sold are {max}")

The highest selling book genre is 'horror' and the number of books sold are 14

In [ ]:
#Task11
data=input()
temp={}

for d in data:
  if (ord('A')<=ord(d)<=ord('Z')) or (ord('a')<=ord(d)<=ord('z')):
    d=d.lower()
    if d in temp:
      temp[d]+=1
    else:
      temp[d]=1
print(temp)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#Task12
dict_1 = {'A': [1, 2, 3,], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
l=[]
for value in dict_1.values():
  l.append(value)
for i in l:
  for j in i:
    if j in i:
      count+=1
print(count)

9

In [ ]:
#Task13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
l = {}
for k, x in list_1:
    if k in l:
        l[k].append(x)
    else:
        l[k] = [x]
print(l)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}