In [ ]:
#1
def even_checker(n):
  if n%2==0:
    print("Even !!")
  else:
    print("Odd !!")

In [ ]:
#2
def fibonacci(n):
  f=0
  s=1
  while f<=n:
    print(f,end='')
    t=f
    f=s
    s=t+s
n=int(input())
fibonacci(n)

In [ ]:
#3
def foo_moo(n):
  if n%2==0 and n%3==0:
    return "FooMoo"
  elif n%3==0:
    return "Moo"
  elif n%2==0:
    return "Foo"
  else:
    return "Boo"
n=int(input())
print(foo_moo(n))

In [ ]:
#4
def charecter(n):
  uc=0
  lc=0
  for i in n:
    if 65<=ord(i)<=90:
      uc=uc+1
    elif 97<=ord(i)<=122:
      lc=lc+1
    print(f'No. of Uppercase charecters: {uc} \nNo. of Lowercase Charecters: {lc}')
n=input()
charecter(n)

In [ ]:
#5
def calculate_tax(age,sal,job):
  if age<18 or job.upper()=="PRESIDENT" or sal<10000:
    return 0
  elif 10000<=sal<=20000:
    return sal*0.05
  elif sal>20000:
    return sal*0.1
age=int(input())
sal=int(input())
job=input()
print(calculate_tax(age,sal,job))

In [ ]:
k = -10 + 3 - (6 - -6.0 % 8) * 3
print(k)

-19.0

In [ ]:
-6//8

-1

In [ ]:
print(-6-8*(-6//8))

2

In [ ]:
#6
def time_count(n):
  year=n//365
  month=(n%365)//30
  days=month=(n%365)%30
  print(year,'years',month,'months and',days,'days')
n=int(input())
time_count(n)

In [ ]:
#7
def show_palindrome(n):
  a=''
  for i in range (1,n*2):
    if i>=n:
      a+=str(n*2-i)
    else:
      a+=str(i)
  print(a)
n=int(input())
show_palindrome(n)

5
123454321

In [ ]:
#8
def show_palindromic_triangle(x):

    for i in range(1,x+1):
        for j in range(x-i):
            print(" ", end = "")
        show_palindrome(i)

show_palindromic_triangle(5)

    1
   121
  12321
 1234321
123454321

In [ ]:
#9
import math
list1=[]
def areaCircumferenceGenerator (r):
  a=math.pi*(i**2)
  c=2*math.pi*i
  list1.append(c)
  list1.append(a)
  a_tupl=tuple(list1)
  a,c=a_tupl
  return f"{a,c} \nArea of the circle is {a} and circumference is {c} "
i=2.5
print(areaCircumferenceGenerator (i))

Area of the circle is 15.707963267948966 and circumference is 19.634954084936208
(15.707963267948966, 19.634954084936208)

In [ ]:
#10
def make_square(Tuple):
    start, end = Tuple
    d = {}
    for i in range(start,end+1):
        d[i] = i*i
    return d
print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#11
def rem_duplicate(t):
  l=[]
  for i in t:
    if i not in l:
      l.append(i)
  l=tuple(l)
  return l
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#12
def function_name(l):
  x=[]
  for i in l:
    if x.count(i)<2:
      x.append(i)
  print("Removed:",len(l)-len(x))
  return x
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#13
def math_function(o,f,s):
    if o == '+':
        result = f + s
        return result
    elif o == '-':
        result = f - s
        return result
    elif o == '*':
        result = f * s
        return result
    elif o == '/':
        result = f / s
        return result
o = input()
f = float(input())
s = float(input())
print(math_function(o,f,s))

In [ ]:
#14
def remove_remove(s,p):
    temp = ''
    count = ''
    for i in range(0,len(s)):
        if i !=0 and i % p == 0:
            count += s[i]
        else:
            temp += s[i]
    return temp + count
s = input()
p = int(input())
print(remove_remove(s,p))

I love programming
3
I lveprgrmmngo oai

In [ ]:
#15
def bill(order,l="Dhanmondi"):
    price = {'rice':105,'potato':20,'chicken':250,'beef':510,'oil':85}
    credit = 0

    for item in order:
        item = item.lower()
        if item in price.keys():
            credit += price[item]
    if l.lower() == "dhanmondi":
        credit += 30
    else:
        credit += 70

    return credit

print(bill(["Rice", "Oil", "Rice"], "Mohakhali"))