In [ ]:
#Task1
l=[]
for i in range (5):
  arg=int(input(""))
  l.append(arg)
  print(f"Numbers in the list: {l}")

3
Numbers in the list: [3]
5
Numbers in the list: [3, 5]
34
Numbers in the list: [3, 5, 34]
-11
Numbers in the list: [3, 5, 34, -11]
0
Numbers in the list: [3, 5, 34, -11, 0]

In [ ]:
#Task2
string="10, 20, 24"
myList=string.split(", ")
for i in range(len(myList)):
  myList[i] = int(myList[i])
x=myList[2:len(myList)-2]
if len(myList)<4:
   print("Not Possible")
else:
  print(x)

Not Possible

In [ ]:
#Task3
j=[]
for i in range(5):
  arg=int(input())
  lis=j.append(arg)
k=j[::-1]
print("Printing values from the list in reverse order:")
for l in k:
  print(l)

5
-5
100
1
0
Printing values from the list in reverse order:
0
1
100
-5
5

In [ ]:
#Task4
myList=[3, 5, 1, 6]
j=[]
for i in range(len(myList)):
 j.append(myList[i]**2)
print(j)

[9, 25, 1, 36]

In [ ]:
#Task5
x=["hey", "there", "", "what's", "", "up", "", "?"]
g=[]
for i in x:
  if i != '':
    g.append(i)
print(g)

['hey', 'there', "what's", 'up', '?']

In [ ]:
#Task6
x=input()
x=x+','
new=''
j=[]
for i in x:
 if i != "," :
  new+=i
 else:
  j.append(int(new))
  new=""
print(f"My list: {j}")
max=j[0]
index=0
for k in range(len(j)):

   if (j[k])>(max):
     max=j[k]
     index=k
print("Largest number in the list is {} which was found at index {}".format(max,index))

7,13,2,10,6,-11,0
[7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

In [ ]:
#Task8
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
list_four=[]
for i in (list_one+list_two):
  if i%2==0:
    list_four.append(i)
print(list_four)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Task7
List_one = [1, 4, 7, 5]
List_two = [6, 1, 3, 9]
print(List_one[0:len(List_one)-1]+List_two)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
myList = "7 12 4 55 96 2 11 61 33 42"
count_1 = 0
list1 = []

for i in range(len(myList)):
  if myList[i]==' ':
    list1.append(int(myList[count_1:i]))
    count_1=i+1
list1.append(int(myList[count_1:len(myList)]))
print("Original list:",list1)

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]

In [ ]:
#Task11
List_one = [1, 4, 3, 2, 6]
List_two = [5, 6, 9, 8, 7]

iscommon = False
for i in List_one:
  if i in List_two:
    iscommon = True
    break
print(iscommon)

True

In [ ]:
#Task9
myList = "7 12 4 55 96 2 11 61 33 42"
count_1 = 0
list1 = []

for i in range(len(myList)):
  if myList[i]==' ':
    list1.append(int(myList[count_1:i]))
    count_1=i+1
list1.append(int(myList[count_1:len(myList)]))
print("Original list:",list1)

count_2 = 0
for i in range(len(list1)):
  if list1[count_2]%2==0:
    list1.remove(list1[count_2])
  else:
    count_2+=1

print(f"Modified list:{list1}")

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
Modified list:[7, 55, 11, 61, 33]

In [ ]:
#Task10
x="0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4"
x=x.split(", ")
j=[]
for i in range(len(x)):
  if x[i] not in j:
    j.append(x[i])
print(j)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
x="0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4"
j=[]
for i in x:
 if i != "," and i!=" ":
  j.append(i)
print(j)

['0', '0', '1', '2', '3', '4', '4', '5', '6', '6', '6', '7', '8', '9', '4', '4']