TASK 1

In [ ]:
first_number = int(input('Enter first number :'))
second_number = int(input('Enter second number :'))
sum = first_number + second_number
print('Sum :',(sum))
product = first_number * second_number
print('Product :',product)
difference = second_number - first_number
print('Difference : ',difference)

Enter first number :9
Enter second number :5
Sum : 14
Product : 45
Difference :  -4

TASK 2

In [ ]:
import math

radius = float(input('Enter the length of radius : ') )
area = math.pi * radius ** 2
circumference = 2 * 3.14 * radius
print('Circumference : ',circumference)
print('Area : ',area)

Enter the length of radius : 6
Circumference :  37.68
Area :  113.09733552923255

TASK 3

In [ ]:
first_number = float(input('Enter first number :'))
second_number = float(input('Enter second number :'))
if first_number > second_number :
  print ('First is greater')
elif first_number < second_number :
   print (' Second is greater')
elif first_number == second_number :
   print ('The number are equal')

Enter first number :7
Enter second number :7
The number are equal

TASK 4

In [ ]:
number1 = x = float(input('Enter first number :'))
number2 = y = float(input('Enter second number :'))

if x > y :
  difference = x - y
  print (difference)
elif x < y :
  difference = y - x
  print ()
elif x == y :
  difference = x-y
  print (difference)

Enter first number :98
Enter second number :9.9
88.1

TASK 5

In [ ]:
number = int(input('Enter a number = '))
remainder = y = number%2
if y==0:
    print('The number is even')
else:
  print('The number is odd')

Enter a number = 6
The number is even

TASK 6

In [ ]:
number = w = int(input('Enter a number = '))
remainder1 = x = w%2
remainder2 = y = w%5
if x == 0 or y == 0  :
  print(w)
else:
  print('it is not a multiple of 2 or 5')

Enter a number = 4
4

TASK 7

In [ ]:
number = w = int(input('Enter a number = '))
remainder1 = x = w%2
remainder2 = y = w%5
if x == 0 and y == 0 :
  print("Multiple of 2 and 5 both")
elif x != 0 or y != 0 :
  print(w)
else:
  print('Not a miltiple we want')

Enter a number = 15
15

In [ ]:
x = 5
for _ in range(1, x):
    print("* " * _ )
for i in range(x + 1, 0, -1):
  for j in range(0, x - 1):
        print("*", end=' ')
  print(" ")

*
* *
* * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
rows = 5
for c in range(0, rows):
#    for r in range(0, c + 1):
        print("*", end=' ')
#    print(" ")

for c in range(rows, 0, -1):
    for r in range(0, c - 1):
        print("*", end=' ')
    print(" ")

* * * * * * * * *
* * *
* *
*

In [ ]:
rows = 5
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
x=5
count=0
for i in range(x):
  print(i**2)

0
1
4
9
16

In [ ]:
x=5
count=0
while count > x :
  print(count)
  count+=1
  print(count)

In [ ]:
x="0999907778"
if "099" in x:
  print(x)
else:
  print("False")

0999907778

In [ ]:
print("hello world)")

In [ ]:
class Student:
    def __init__(self,name,ID):
        self.name = name
        self.ID = ID
    def Details(self):
        return "Name: "+self.name+"\n"+"ID: "+self.ID+"\n"
#Write your code here




class CSEStudent(Student):
  def __init__(self,name,id,sem):
    super().__init__(name,id)
    self.semester=sem
  def Details(self):
    return f"{super().Details()}Semester:{self.semester}"

  def addCourseWithMarks(self,*args):
    self.coursesandgpa=args
    self.m=[]
    self.n=[]
    self.o=[]
    self.p={}
    for i in args :
      if type(i)==str:
        self.m.append(i)
      else:
        self.n.append(i)


    for




  def showGPA(self):
    print(f"{self.name} has {len(self.m)} courses")
    for i,j in self.o.items() :
      print(f"{i}:{j}")

  # def ddCourseWithMarks(self,*args):
  #   self.course=args
  #   for
# Each course has 3 credits.
# GPA = sum( per course grade * per course credit) / sum(credit attended in that semester)
# Grading policy:  mark>=85: 4.0 ; 80<=mark<=84: 3.3;70<=mark<=79:3.0 ;65<=mark<=69: 2.3; 57<=mark<=64:2.0 ; 55<=mark<=56:1.3; 50<=mark<=54:1.0; >50:0.0
Bob = CSEStudent("Bob","20301018","Fall 2020")
Carol = CSEStudent("Carol","16301814","Fall 2020")
Anny = CSEStudent("Anny","18201234","Fall 2020")
print("#########################")
print(Bob.Details())
print("#########################")
print(Carol.Details())
print("#########################")
print(Anny.Details())
# print("#########################")
Bob.addCourseWithMarks("CSE111",83.5,"CSE230",73.0,"CSE260",92.5)
# Carol.addCourseWithMarks("CSE470",62.5,"CSE422",69.0,"CSE460",76.5,"CSE461",87.0)
# Anny.addCourseWithMarks("CSE340",45.5,"CSE321",95.0,"CSE370",91.0)
print("----------------------------")
Bob.showGPA()
# print("----------------------------")
# Carol.showGPA()
# print("----------------------------")
# Anny.showGPA()
# #########################
# Name: Bob
# ID: 20301018
# Current semester: Fall 2020
# #########################
# Name: Carol
# ID: 16301814
# Current semester: Fall 2020
# #########################
# Name: Anny
# ID: 18201234
# Current semester: Fall 2020
# #########################
# ----------------------------
# Bob has taken 3 courses.
# CSE111: 3.3
# CSE230: 3.0
# CSE260: 4.0
# GPA of Bob is: 3.43
# ----------------------------
# Carol has taken 4 courses.
# CSE470: 2.0
# CSE422: 2.3
# CSE460: 3.0
# CSE461: 4.0
# GPA of Carol is: 2.83
# ----------------------------
# Anny has taken 3 courses.
# CSE340: 0.0
# CSE321: 4.0
# CSE370: 4.0
# GPA of Anny is: 2.67

#########################
Name: Bob
ID: 20301018
Semester:Fall 2020
#########################
Name: Carol
ID: 16301814
Semester:Fall 2020
#########################
Name: Anny
ID: 18201234
Semester:Fall 2020
----------------------------
Bob has 3 courses
CSE111:92.5
CSE230:92.5
CSE260:92.5

In [ ]:
x=("CSE111",83.5,"CSE230",73.0,"CSE260",92.5)
y=((k,v)for k,v in x)
print(y)

<generator object <genexpr> at 0x7fe3455fa7b0>

In [ ]:
x=dict("CSE111",83.5,"CSE230",73.0,"CSE260",92.5)
print(x)

TypeError: ignored

In [ ]:

# Python3 program to Convert a
# list to dictionary

def Convert(lst):
    res_dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return res_dct

# Driver code
lst = ['a', 1, 'b', 2, 'c', 3]
print(Convert(lst))

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
class Transport:
    total_traveller = 0

    def __init__(self, name, fare):
        self.name = name
        self.baseFare = fare

    def __str__(self):
        s =  "Name: "+self.name+", Base fare: "+str(self.baseFare)
        return s

# Write your codes here.
class Bus(Transport):
  def __init__(self,name,fare):
    count=0
    super().__init__(name,fare)
    Bus.count+=1
  def addPassengerWithBags(self,*args):
    self.passengerfares=args
    self.m=[]
    self.n=[]
    self.o=[]
    for i in args :
      if type(i)==str:
        self.m.append(i)
      else:
        self.n.append(i)
    for i in self.m:
      f

# Do not change the following lines of code.
t1 = Bus(“Volvo”, 950)
print("=================================")
t1.addPassengerWithBags(“David”, 6,  “Mike”, 1, “Carol”, 3)
print("=================================")
print(t1)
print("=================================")
t2 = Train(“Silk City”, 850)
print("=================================")
t2.addPassengerWithBags(“Bob”, 2, “Simon”, 4)
print("=================================")
print(t2)
print("=================================")
print(“Total Passengers in Transport: ”, Transport.total_traveller )
# Base-fare of Volvo is 950 Taka
# ===============================
# ===============================
# Name: Volvo, Base fare: 950
# Total Passenger(s): 3
# Passenger details:
# Name: David, Fare: 1055
# Name: Mike, Fare: 950
# Name: Carol, Fare: 1010
# ===============================
# Base-fare of Silk City is 850 Taka
# ===============================
# ===============================
# Name: Silk City, Base fare: 850
# Total Passenger(s): 2
# Passenger details:
# Name: Bob, Fare: 850
# Name: Simon, Fare: 910
# ===============================
# Total Passengers in Transport: 5

In [ ]:
class Student:
  def __init__(self,)














s1 = Student("Naruto", "CSE")
print('----------------------')
s1.individualInfo()
print('#############################')
s1.totalInfo()
print('============================')

s2 = Student("Sakura", "BBA")
print('----------------------')
s2.individualInfo()
print('#############################')
s2.totalInfo()
print('============================')

s3 = Student("Shikamaru", "CSE")
print('----------------------')
s3.individualInfo()
print('#############################')
s3.totalInfo()
print('============================')

s4 = Student("Deidara", "BBA")
print('----------------------')
s4.individualInfo()
print('#############################')
s4.totalInfo()

# Creating Student Number: 1
# ----------------------
# Naruto is from CSE department.
# Serial of Naruto among all students' is: 1
# Serial of Naruto in CSE department is: 1
# #############################
# Total Number of Student: 1
# Total Number of CSE Student: 1
# Total Number of BBA Student: 0
# ============================
# Creating Student Number: 2
# ----------------------
# Sakura is from BBA department.
# Serial of Sakura among all students' is: 2
# Serial of Sakura in BBA department is: 1
# #############################
# Total Number of Student: 2
# Total Number of CSE Student: 1
# Total Number of BBA Student: 1
# ============================
# Creating Student Number: 3
# ----------------------
# Shikamaru is from CSE department.
# Serial of Shikamaru among all students' is: 3
# Serial of Shikamaru in CSE department is: 2
# #############################
# Total Number of Student: 3
# Total Number of CSE Student: 2
# Total Number of BBA Student: 1
# ============================
# Creating Student Number: 4
# ----------------------
# Deidara is from BBA department.
# Serial of Deidara among all students' is: 4
# Serial of Deidara in BBA department is: 2
# #############################
# Total Number of Student: 4
# Total Number of CSE Student: 2
# Total Number of BBA Student: 2

IndentationError: ignored

In [ ]:
from sre_constants import CATEGORY_UNI_NOT_DIGIT
import collections
args=("CSE111",83.5,"CSE230",73.0,"CSE260",92.5)
m=[]
n=[]
o = {}
count=0
for i in args :
    if type(i)==str:
        m.append(i)
    else:
        n.append(i)
for i in m:
  for j in n:
    count_j=0
    o.update({i:j})
    count_j+=1
# for i in m:
#   for key in o.keys():
#     if i in m:
#       o[]


#print(value_count)
print(m)
print(n)
print(o)

['CSE111', 'CSE230', 'CSE260']
[83.5, 73.0, 92.5]
{'CSE111': 92.5, 'CSE230': 92.5, 'CSE260': 92.5}

In [ ]:

Details = {}
Details["Age"] = [20]
print(Details)

{'Age': [20]}

In [ ]:
#task1
a=input("")
b=input("")
x=a+b
print(x)

In [ ]:
class Human:
    def __init__(self):
        self.age = 0
        self.height = 0.0


h1 = Human()
h2 = Human()
h1.age = 21
h1.height = 5.5
print(h1.age)
print(h1.height)
h2.height = h1.height - 3
print(h2.height)
h2.age = h1.age
h1.age += h1.age
print(h1.age)
h2 = h1
print(h2.age)
print(h2.height)
h1.age += h1.age
h2.height += h2.height
print(h1.age)
print(h1.height)
h2.age += h2.age
h1.age = h2.age
print(h2.age)

21
5.5
2.5
42
42
5.5
84
11.0
168

In [ ]:
def add_time(start, duration, expecting_weekday = False):
    start_hour, start_min = start.split(":")
    start_min, suffix = start_min.split(" ")
    days_later = 0

    full_day = 24
    half_day = 12

    # end times
    duration_hr, duration_min = duration.split(":")

    # updated times
    start_hour = int(start_hour)
    start_min = int(start_min)
    duration_hr = int(duration_hr)
    duration_min = int(duration_min)

    # days array
    week_days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]

    # total time count
    new_hr = start_hour + duration_hr
    new_min = start_min + duration_min

    # time calculation
    if new_min >= 60:
        new_hr += new_min // 60
        new_min = new_min % 60

    if duration_hr or duration_min:
        # AM/PM selection
        # increase day if total_hr >= 24
        if (suffix == 'PM' and new_hr > full_day) and (new_hr % full_day) >= 1:
            days_later += 1

        if new_hr >= half_day:
            days_later += new_hr // full_day

        # adjusting the suffix
        temp = new_hr
        while True:
            if temp < half_day:
                break

            if suffix == "AM":
                suffix = "PM"
            else:
                suffix = "AM"

            temp -= half_day

    # remaining hours and minutes
    hours_left = new_hr % half_day
    mins_left = new_min % 60

    # preparing the output
    final_time = f"{hours_left}:{mins_left:02} {suffix}"

    if expecting_weekday:
        weekday = expecting_weekday.strip().lower()
        current_day_index = (week_days.index(weekday) + days_later) % 7
        current_day = week_days[current_day_index].capitalize()
        final_time += f", {current_day} {get_current_weekday(days_later)}"

    return final_time

def get_current_weekday(n_days):
    if n_days == 1:
        return "(next day)"
    elif n_days > 1:
        return f"({n_days} days later)"
    return ""

print(add_time("11:30 AM", "2:32", "Monday"))

2:02 PM, Monday

In [ ]:

#sample input => HOusE ApplE BaNaNa

given_string = "HOuSE" #I could also use input() to get the string from user input. But as the question says GIVEN, I use the hardcode way
upper_count = 0
lower_count = 0

for char in given_string:
  if char>='a' and char <='z':
    lower_count+=1
  elif char>='A' and char <='Z': #I could just use else, but prefer to use specific conditon
    upper_count+=1

if lower_count>=upper_count:
  print(given_string.lower())
else:
  print(given_string.upper())

HOUSE

In [ ]:
class Student:
    def __init__(self):
        self.name = None
        self.cgpa = 0.0
s1 = Student()
s2 = Student()
s3 = None
s1.name = "Student One"
s1.cgpa = 2.3
s3 = s1
s2.name = "Student Two"
s2.cgpa = s3.cgpa + 1
s3.name = "New Student"
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)
s3 = s2
s1.name = "old student"
s2.name = "older student"
s3.name = "oldest student"
s2.cgpa = s1.cgpa - s3.cgpa + 4.5
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)

New Student
Student Two
New Student
2.3
3.3
2.3
old student
oldest student
oldest student
2.3
3.5
3.5

In [ ]:
class msgClass:
    def __init__(self):
        self.content = 0
class Q5:
    def __init__(self):
        self.sum = 1
        self.x = 2
        self.y = 3
    def methodA(self):
        x, y = 1, 1
        msg = []
        myMsg = msgClass()
        myMsg.content = self.x
        msg.append(myMsg)
        msg[0].content = self.y + myMsg.content
        self.y = self.y + self.methodB(msg[0])
        y = self.methodB(msg[0]) + self.y
        x = y + self.methodB(msg[0], msg)
        self.sum = x + y + msg[0].content
        print(x," ", y," ", self.sum)
    def methodB(self, mg1, mg2 = None):
        if mg2 == None:
            x, y = 5, 6
            y = self.sum + mg1.content
            self.y = y + mg1.content
            x = self.x + 7 +mg1.content
            self.sum = self.sum + x + y
            self.x = mg1.content + x +8
            print(x, " ", y," ", self.sum)
            return y

        else:
            x = 1
            self.y += mg2[0].content
            mg2[0].content = self.y + mg1.content
            x = x + 4 + mg1.content
            self.sum += x + self.y
            mg1.content = self.sum - mg2[0].content
            print(self.x, " ",self.y," ", self.sum)
            return self.sum

In [ ]:
msg=[5]
for i in msg:
 print(i)

5

In [ ]:
x=int(input("Enter amount:"))
def splitting_money(x):

    fhn=x//500
    ohn=x//100
    fon=x//50
    t0n=x//20
    o0n=x//10
    fn=x//5
    tn=x//2
    return fhn,ohn,fon,t0n,o0n,fn,tn



print(splitting_money(x))

Enter amount:1234
(2, 34, 34, 61, 123, 246, 617)

In [ ]:
#Write a python program that prints all the Fibonacci numbers from 0 to N where N will be given
#as input by the user.
#A Fibonacci number is a number which is the summation of its previous two Fibonacci
#numbers.
#The first two Fibonacci numbers are 0 and 1.
#So, the 3rd is 0 + 1 = 1,the 4th is 1 + 1 = 2,the 5th is 1 + 2 = 3,the 6th one is 2 + 3 = 5, and so on.i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21.......
#Sample Input 1:
#10
#Sample Output 1:
#0 1 1 2 3 5 8
#Explanation: All Fibonacci numbers up to the number 10 is printed separated by spaces.

# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:

       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1
       print(n1)

How many terms? 1
Fibonacci sequence upto 1 :
0

In [ ]:
x=int(input(''))
while True:
  m=x//2
  n=m//2
  o=n//2
  p=o//2
  z=m,n,o,p
  break
print(z)

11
(1, 0, 0, 0)

In [ ]:
num = int(input(""))
result = ''

while num!=0:
  bin_value = num%2
  num//=2
  result+=str(bin_value)
print(result[::-1])

12
1100

TASK 8

In [ ]:
number = i = int(input('Enter a number = '))
remainder1 = j = i%2
remainder2 = k = i%5

if  j== 0 and k== 0 :
  print (i)
else :
  print("Not multiple of 2 and 5 both ")

Enter a number = 10
10

TASK 16

TASK 12

In [ ]:
time = x = int(input("What time is it ?:"))

if x>=4 and x<=6:
    print("Breakfast")
elif x >= 12 and x<=13:
    print("Lunch")
elif x>=16 and x<=17:
    print("Snacks")
elif x>=19 and x<=20:
    print("Dinner")
elif x < 0 or x > 23 :
  print("wrong time")
else :
  print("Patience is virtue")

What time is it ?:30
wrong time

TASK 9

In [ ]:
seconds = x = int(input())

hours = x // 3600
minutes = x // 60
seconds = (x % 3600) % 60


print("Hours", (hours),"Minutes", (minutes), "Seconds:", (seconds))

508
Hours 0 Minutes 8 Seconds: 28

In [ ]:
print(3700% 3600)

100

TASK 10

In [ ]:
worked_hours = x = int(input("Enter number of Hours worked :"))

if x > 40 and x < 168 :
  z = 8000+(300)*(x - 40)
  print("Tk",z)
if x <=40 and x >0 :
  z = 200*(x)
  print("Tk",z)

else:
 if x > 168 :
  print ("Impossible to work more than 168 hours weekly")
 if x < 0 :
  print("Hours cannot be negative")

Enter number of Hours worked :1
Tk 200

TASK 14

In [ ]:
distance = x = int(input('distance :'))
time = y = int(input('time :'))
speed = z

z= (x/y)*3.6
print(z,'km/h')

if z < 60 :
  print ('Too slow. Needs more changes.')
elif z >= 60 and z <=90 :
  print ('Velocity is okay. The car is ready!')
elif z > 90 :
  print('Too fast. Only a few changes should suffice.')

distance :160000
time :7200
80.0 km/h
Velocity is okay. The car is ready!

TASK 15

In [ ]:
cgpa = x = float(input())
cred = y = int(input())

if y < 30 :
  print("The student is not eligible for a waiver")

else :
 if x < 3.8 :
  print("The student is not eligible for a waiver")
 if x >= 3.8 and x <=3.89 :
  print("The student is eligible for a waiver of 25 percent.")
 if x >= 3.9 and x <= 3.94 :
  print('The student is eligible for a waiver of 50 percent.')
 if x >= 3.95 and x <= 3.99 :
  print('The student is eligible for a waiver of 75 percent.')
 if x == 4:
  print('The student is eligible for a waiver of 100 percent.')

4.0
60
The student is eligible for a waiver of 100 percent.

TASK 13

In [ ]:
marks = x = int(input('Enter marks :'))
if x < 50 and x >= 0 :
  print ("F")
elif x>=50 and x<=59 :
  print ("E")
elif x>=60 and x<=69:
  print("D")
elif x>=70 and x<=79:
  print("C")
elif x>=80 and x<=89:
  print("B")
if x>=90 and x<=100:
  print("A")
elif x < 0 or x > 100 :
  print ("invalid marks")

Enter marks :0
F

In [ ]:
marks = int(input(""))

if marks>=90 and marks<=100:
  print('A')
elif marks>=80 and marks<=89:
  print('B')
elif marks>=70 and marks<=79:
  print('C')
elif marks>=60 and marks<=69:
  print('D')
elif marks>=50 and marks<=59:
  print('E')
elif marks<50:
  print('F')
else:
  print('Please Enter a valid number between 0 and 100.')

101
Please Enter a valid number between 0 and 100.

TASK 11

In [ ]:
s = int(input("S : "))
if s < 100 :
  L = 3000-125*s**2
  print("L :",L)
elif s >= 100 :
  y = 4+s**2/14900
  L = 12000/y
  print("L :",L)

S : 3
L : 1875